apiVersion: v1
kind: Service
metadata:
  name: arcadedb-service
  labels:
    app: arcadedb
    tier: database
spec:
  type: LoadBalancer  # Exposes service externally with a GCP load balancer
  selector:
    app: arcadedb
    tier: database
  ports:
  - name: http
    port: 2480        # External port
    targetPort: 2480  # Container port
    protocol: TCP
  - name: binary
    port: 2424        # External port
    targetPort: 2424  # Container port
    protocol: TCP
  sessionAffinity: ClientIP  # Maintains session stickiness

---
# Alternative: NodePort Service (if you don't want LoadBalancer)
apiVersion: v1
kind: Service
metadata:
  name: arcadedb-nodeport
  labels:
    app: arcadedb
    tier: database
spec:
  type: NodePort
  selector:
    app: arcadedb
    tier: database
  ports:
  - name: http
    port: 2480
    targetPort: 2480
    nodePort: 30480  # External port on the node (range: 30000-32767)
    protocol: TCP
  - name: binary
    port: 2424
    targetPort: 2424
    nodePort: 30424
    protocol: TCP

---
# ClusterIP Service (internal only, for internal access)
apiVersion: v1
kind: Service
metadata:
  name: arcadedb-internal
  labels:
    app: arcadedb
    tier: database
spec:
  type: ClusterIP
  selector:
    app: arcadedb
    tier: database
  ports:
  - name: http
    port: 2480
    targetPort: 2480
    protocol: TCP
  - name: binary
    port: 2424
    targetPort: 2424
    protocol: TCP
